<div class="main-header">
        <a ng-click="gotoHome()" class="main-logo"><img src="images/logo.png"></a>
        <div class="icon-preview menu-displayer" ng-click="viewMenu()"><i class="mdi-action-view-headline"></i><span></span></div>
        <!-- <button title="Logout" btn-loader="loaderStatus" class="btn btn-primary btn-flat pull-right logout-btn app-pri-color" ng-click="signOut()" ng-show="loggedIn">
            <div class="icon-preview"><i class="mdi-action-exit-to-app"></i></div>
        </button> -->
				
				<ul class="nav navbar-nav navbar-right pull-right logout-btn">
          <li class="dropdown">
            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
            	<div class="icon-preview"><i class="mdi-action-account-box"></i></div>
            </a>
            <ul class="dropdown-menu">
            	<li><span class="username">{{user.first_name}} {{user.last_name}}</span></li>
              <li><a ng-click="signOut()">Action</a></li>
            </ul>
          </li>
        </ul>
        <div class="add-entity-wrap pull-right" ng-show="loggedIn">
          <button ng-show="showAddButton" title="Add new" class="btn btn-primary btn-fab btn-raised mdi-content-add add-entity app-pri-bg" ng-click="createObject()"><div class="ripple-wrapper"></div></button>
        </div>
</div>
<div ui-view></div>