<div class="main-header">
        <a ng-click="gotoHome()" class="main-logo hand"><img src="images/logo.png"></a>
        <!-- Mobile menu icon -->
        <div class="icon-preview menu-displayer" ng-click="viewMenu()" ng-show="loggedIn"><i class="mdi-action-view-headline"></i><span></span></div>
        <!-- Logout for Mobile -->
        <button title="Logout" btn-loader="loaderStatus" class="btn btn-primary btn-flat pull-right logout-btn-mobile app-pri-color" ng-click="signOut()" ng-show="loggedIn">
            <div class="icon-preview logout-button-icon-preview"><i class="mdi-action-exit-to-app"></i></div>
        </button>
        <!-- Logout for PC -->
				<div class="dropdown pull-right hand logout-btn-pc" ng-show="loggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown">
          	<div class="icon-preview logout-button-icon-preview">
              <i class="mdi-action-account-box"></i>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-right with-caret">
          	<li><a class="username">{{user.first_name}} {{user.last_name}}</a></li>
            <li class="hand" ng-click="signOut()"><a>Logout</a></li>
          </ul>
        </div>
</div>
<div ui-view></div>
<!-- Add Button -->
  <button ng-show="showAddButton" ng-show="loggedIn" title="Add new" class="btn-fab btn-raised mdi-content-add add-entity app-pri-bg shadow-z-1" ng-click="createObject()"><div class="ripple-wrapper"></div></button>
<!-- Chat Button -->
  <button class="chat-button" ng-click="showChatBox()"><i class="fa fa-comment"></i></button><!-- ./Chat Button -->
<!-- Chat Box -->
  <div class="chat-box" ng-show="chatBoxVisible">
    <header class="chat-box-header clearfix">
      Chat
      <span class="chat-btn-close pull-right hand icon-preview mdi-navigation-close" ng-click="hideChatBox()"></span>
    </header>
  </div>
<!-- ./Chat Box -->