<div class="single-page">
  <div class="single-page-container">
    <div class="logo"><img src="images/logo_crown.jpg"></div>
    <p>&copy;NBA Properties, Inc. All Rights Reserved.</p>
    <p>
      &copy;2015 Sacramento Kings Limited Partnership, LP
      <br/>
      &copy;2015 Built.io. All Rights Reserved.
    </p>
    <p>NBA and NBA member team trademarks, logos, identifications, statistics, game action photographs, and video and audio are the exclusive property of NBA Properties, Inc. and the member teams and may not be used without the prior written consent of NBA Properties, Inc. &copy; NBA Properties, Inc. All Rights Reserved.</p>
  </div>
</div>