<div id="nav-list">
    <div class="aside">
        <div class="class" ng-repeat="menu in menus" ng-class="{'selectedMenu': menu.id ===selectedClassId}">
          <a ui-sref="base.dashboard.objectsList({ classUid:menu.id,p:1,skip:0,filter:''})">{{menu.text}}
            <div class="ripple-wrapper"></div>
          </a>
        </div>
        <!-- Additional Menu -->
        <!-- 
            <div class="class" ng-class="{'selectedMenu': selectedClassId === 'chat' }">
        	   <a ui-sref="base.dashboard.chat">Chat</a>
            </div>
        -->
        <!-- End Additional Menu -->
    </div>
    <div ui-view></div>
</div>