 <div class="main-container">
        <a href="" class="btn btn-primary btn-raised" ng-click="changeToCreateState()">Add new</a>
        <table class="table table-hover ">
            <thead>
            <tr>
                <th ng-repeat="column in columnData">{{column.name}}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="details in newLists track by $index">
                <td ng-repeat="column in columnData track by $index">{{details[column.id]}}</td>
                <td>
                    <span title="{{act}}" rel="tooltip" data-placement="bottom" ng-repeat='act in actions' ng-click='action(act, details)' class="hand icon-preview" ng-class="{'mdi-editor-mode-edit' : act == 'edit', 'mdi-action-delete' : act == 'delete'}"></span>
                </td>
                <div class="modal" modal="showModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">No</button>
                                <button type="button" class="btn btn-primary" ng-click="ok()">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>


    </div>