<div class="data-col-wrap">
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal" ng-submit="signIn()">
                <fieldset>
                    <legend>
                        <div class="icon-preview"><i class="mdi-action-lock"></i></div>
                        Login to your account</legend>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="email" ng-model="email" class="form-control floating-label" id="focusedInput" placeholder="Email" required name="email" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="password" ng-model="password" class="form-control floating-label" id="focusedInput" placeholder="Password" required name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-info" btn-loader="loaderStatus" loading-text="Logging in..."><span class="js-btn-text ">Login</span></button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <p><a ui-sref="base.login-retrieve-password">forgot password?</a></p>
        </div>
    </div>
</div>