<div class="main-container clearfix">
	<div class="button-wrap">
		<button class="btn btn-default btn-raised pull-left" ng-click="cancel()" ng-hide="singleton">
			Cancel<div class="ripple-wrapper"></div>
		</button>
		<button class="btn btn-primary btn-raised pull-right" ng-click="saveObject()">
			Save<div class="ripple-wrapper"></div>
		</button>
	</div>
	<div formbuilder cls="mclass" obj="mobject" apikey="apikey" authtoken="authtoken" apihost="apihost" class="form-builder-wrap well" viewonly="viewonly"></div>
</div>
