<div class="add-group">
    <div class="form-group" ng-repeat="field in field.schema">
        <label for="inputText" class="col-lg-2 control-label">{{field.display_name}}</label>
        <div class="col-lg-4">
            <div ng-switch on="field.data_type">
                <text-directive ng-switch-when="text" ng-model="field"></text-directive>
                <boolean-directive ng-switch-when="boolean" ng-model="field"></boolean-directive>
                <number-directive ng-switch-when="number" ng-model="field"></number-directive>
                <file-directive ng-switch-when="file" ng-model="field"></file-directive>
                <link-directive ng-switch-when="link" ng-model="field"></link-directive>
                <date-directive ng-switch-when="isodate" ng-model="field"></date-directive>
            </div>
        </div>
    </div>
</div>
